.Login {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.Login form input {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
}

.Login form input::placeholder {
  color: #999;
}

.Login form button {
  margin-top: 10px;
  border: 0;
  border-radius: 4px;
  height: 48px;
  font-size: 16px;
  font-weight: bold;
  background: #df4723;
  color: #fff;
  cursor: pointer;
}