.Match {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8)
}

.Match .Match-avatar {
  width: 200px;
  height: 200px;
  border-radius: 58%;
  border: 5px solid #fff;
  margin: 30px 0;
}

.Match strong {
  font-size: 36px;
  color: #fff;
}

.Match p {
  margin-top: 30px;
  font-size: 20px;
  line-height: 30px;
  max-width: 400px;
  color: rgba(255, 255, 255, 0.8)
}

.Match button {
  border: 0;
  background: none;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  margin-top: 30px;
  cursor: pointer;
}